{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aurae Admin</title>

    <link rel="stylesheet" href="{% static 'css/analysis_style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>

<body>

    <div id="container">

        {% include 'sidebar.html' %}

        <main class="main">

            {% include 'topbar.html' %}

            <div class="header">
                <div class="header-left">
                    <h1>Analysis</h1>
                    <p>Turn data into clear insights.</p>
                </div>
            </div>

            <div id="chart-box">
                <div id="chart_top">
                    <h3>Temporal AQI Analysis</h3>

                    <div>
                        <!-- pollutant select -->
                        <label for="pollutants"><b>Pollutant:</b></label>
                        <select name="poluttants" id="pollutants"
                            onchange="toPHP(document.getElementById('Location').value)">
                            <option value="aqi">AQI</option>
                            <option value="so2">SO2</option>
                            <option value="co">CO</option>
                            <option value="o3">O3</option>
                            <option value="nox">NOX</option>
                            <option value="no2">NO2</option>
                            <option value="no">NO</option>
                        </select>


                        <label for="Location"><b>Location: </b></label>
                        <select name="Location" id="location">
                            <option value="0">Select Location</option>
                            {% for site_id, site_name in location_options %}
                            <option value="{{ site_id }}">{{ site_name }}</option>
                            {% empty %}
                            <!-- This line will only show if your database returned zero rows -->
                            <option value="">[No records found or column name error]</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!-- graoh pollutant level -->
                <div class="chart-placeholder">
                    <canvas id="dbChart" style="position: relative; width: 100%; height: 100%;"></canvas>
                </div>


            </div><br>


            <div class="bottom-section">

                <div class="map-box">
                    <h3>48 Areas in Pangasinan</h3>
                    <div class="map-placeholder">

                        <img src="{% static 'image/pangasinan_map.png' %}" alt="pangasinan map" id="pang_map">

                    </div>
                </div>


                <div class="actions">
                    <button id="download_graph">Download Graph</button>
                    <button id="date_range">Date Range</button>
                    <button id="reset">Reset</button>

                    <dialog id="date_range_dialog">
                        <input type="date" id="min">
                        <input type="date" id="max">

                        <button id="date_submit" onclick="toPHP(value)">submit</button>
                    </dialog>



                </div>

            </div>

        </main>

    </div>

    <script src="{% static 'js/toggle_sidebar.js' %}"></script>



</body>