{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aurae Admin</title>


    <link rel="stylesheet" href="{% static 'css/reports_style.css' %}">


    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>

<body>

    <div id="container">

        {% include 'sidebar.html' %}

        <main class="main">

            {% include 'topbar.html' %}

            <div class="header">
                <div class="header-left">
                    <h1>Reports</h1>
                    <p>Organize reports for better understanding.</p>
                </div>
            </div>

            <div class="reports-box">

                <div class="report-card">March 22 - 28, 2026</div>
                <div class="report-card">March 29 - April 04, 2026</div>
                <div class="report-card">April 05 - 11, 2026</div>
                <div class="report-card">April 12 - 19, 2026</div>

            </div>



        </main>

    </div>

    <script src="{% static 'js/toggle_sidebar.js' %}">

    </script>


</body>
</php>