{% load static %}

<!DOCTYPE html>
<phhtmlp lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aurae Admin</title>

        <link rel="stylesheet" href="{% static 'css/settings_style.css' %}">


        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    </head>

    <body>

        <div id="container">

            {% include 'sidebar.html' %}

            <main class="main">

                {% include 'topbar.html' %}
                <div class="header">
                    <div class="header-left">
                        <h1>Settings</h1>
                        <p>Control, configure, and manage everything in one place.</p>
                    </div>
                </div>

                <div class="settings-box">

                    <div class="setting-item" id="setting-account">
                        <div>


                            <h5><span>Account</span></h5><br>
                            <div class="content_hidden" id="account_hidden">
                                {% if user.is_authenticated %}
                                <!-- credentials of the user-->
                                <span class="profile">Username: {{ user.username }}</span><br>
                                <span class="profile">Email: {{ user.email }}</span><br>
                                {% else %}
                                <!-- go back to login if not registered -->
                                <a href="{% url 'login' %}">Log In</a>
                                {% endif %}


                                <button id="edit_account">Edit</button><br>

                                <dialog id="account_overlay">
                                    <h5>edit account</h5>
                                    <button id="close_but">close</button>
                                </dialog>

                                <button id="change_pass">Change Password</button>
                            </div>
                        </div>
                        <button class="fas fa-ellipsis-h"
                            onclick="expansion('setting-account','account_hidden')"></button>
                    </div>




                    <div class="setting-item" id="setting-data_source">
                        <div>
                            <h5><span>Data Source Settings</span></h5>
                            <div class="content_hidden" id="">

                            </div>
                        </div>

                        <button class="fas fa-ellipsis-h" onclick="expansion('setting-data_source')"></button>
                    </div>

                    <div class="setting-item" id="setting-threshold">
                        <div>
                            <h5><span>Air Quality Threshold Rules</span></h5>
                            <div class="content_hidden" id="">

                            </div>
                        </div>

                        <button class="fas fa-ellipsis-h" onclick="expansion('setting-threshold')"></button>
                    </div>

                    <div class="setting-item" id="setting-activity_log">
                        <div>
                            <h5><span>Activity Log</span></h5>
                            <div class="content_hidden" id="">

                            </div>
                        </div>

                        <button class="fas fa-ellipsis-h" onclick="expansion('setting-activity_log')"></button>
                    </div>

                    <div class="setting-item" id="setting-report_format">
                        <div>
                            <h5><span>Report Format Settings</span></h5>
                            <div class="content_hidden" id="">

                            </div>
                        </div>

                        <button class="fas fa-ellipsis-h" onclick="expansion('setting-report_format')"></button>
                    </div>

                    <div class="setting-item" id="setting-backup">
                        <div>
                            <h5><span>Backup & Restore</span></h5>
                            <div class="content_hidden" id="">

                            </div>
                        </div>

                        <button class="fas fa-ellipsis-h" onclick="expansion('setting-backup')"></button>
                    </div>

                    <div class="setting-item" id="setting-notification">
                        <div>
                            <h5><span>Email Notification Settings</span></h5>
                            <div class="content_hidden" id="">

                            </div>
                        </div>

                        <button class="fas fa-ellipsis-h" onclick="expansion('setting-notification')"></button>
                    </div>

                </div>

            </main>

        </div>
        <script src="{% static 'js/setting_expand.js' %}"> </script>
        <script src="{% static 'js/toggle_sidebar.js' %}">


        </script>


    </body>
    </php>