{% load static %}
<link rel="stylesheet" href="{% static 'css/global.css' %}">

<body>

    <aside class="sidebar">
        <div class="logo">
            <img src="{% static 'image/logo_aurae.png' %}" class="logo-img" alt="Aurae Logo">
            <h2>Aurae Admin</h2>
        </div>

        <ul class="menu">
            <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Dashboard</a></li>
            <li><a href="{% url 'dataManagement' %}"><i class="fas fa-database"></i> Data Management</a></li>
            <li><a href="{% url 'analysis' %}"><i class="fas fa-chart-line"></i> Analysis</a></li>
            <li><a href="{% url 'reports' %}"><i class="fas fa-file-alt"></i> Reports</a></li>
            <li><a href="{% url 'settings' %}"><i class="fas fa-cog"></i> Settings</a></li>
            <li><a href="{% url 'support' %}"><i class="fas fa-life-ring"></i> Support / Help</a></li>
        </ul>
    </aside>
</body>