{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aurae Admin</title>

    <link rel="stylesheet" href="{% static 'css/support_style.css' %}">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>

<body>

    <div id="container">

        {% include 'sidebar.html' %}

        <main class="main">

            {% include 'topbar.html' %}

            <div class="header">
                <div class="header-left">
                    <h1>Support / Help</h1>
                    <p>Guidance when you need it most.</p>
                </div>
            </div>

            <div class="support-container">

                <div class="support-card">
                    <i class="fas fa-comments"></i>
                    <span>FAQs</span>
                </div>

                <div class="support-card">
                    <i class="fas fa-microchip"></i>
                    <span>Technical Support</span>
                </div>

                <div class="support-card">
                    <i class="fas fa-file-alt"></i>
                    <span>System Documentation</span>
                </div>

            </div>

        </main>

    </div>

    <script src="{% static 'js/toggle_sidebar.js' %}">

    </script>


</body>
</php>