* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f3f4f6;

    &::-webkit-scrollbar {
        display: none;
    }
}

#container {
    display: flex;
    height: 100vh;
    padding-left: 240px;
    transition: all 0.3s ease;

}

#container.expand {
    padding-left: 90px;
}


.main {
    flex: 1;
    padding: 20px;
}



.header {
    margin-top: 30px;
    margin-bottom: 20px;
}

.header-left h1 {
    font-size: 22px;
}

.header-left p {
    color: gray;
    font-size: 14px;
}

#chart-box {
    height: 25%;
    background: #AFCBBA;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

#chart-box.expanded {
    height: 50%;
}

.chart-placeholder {

    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    height: 80%;
    margin-bottom: 15px;
}

#chart_top {
    display: flex;
    justify-content: space-between
}


#pollutants,
#location {
    margin-right: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.475);
}

.bottom-section {
    height: 55%;
    display: flex;
    gap: 10px;
}

.map-box {
    flex: 2;
    background: #AFCBBA;
    padding: 20px;
    border-radius: 12px;
    height: 100%;

}

.map-placeholder {
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;

}


.actions {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;

}

button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#download_graph {
    background: #7ca982;
    color: white;
}

#date_range,
#reset {
    background: #e5e7eb;
}

#pang_map {
    height: 100%;
    width: 80%;
    border-radius: 10px;
}

dialog {
    border: 2px solid;
    border-radius: 5px;
    margin: auto;
}