#pollutant_table {

    border-radius: 10px;
    max-height: 400px;



    border-radius: 5px;
    overflow-y: auto;


}



table {
    padding: 2px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #436e54;

}



th,
td {
    width: 7%;
    padding: 10px;
    font-size: 13px;

    border-left: 2px #436e54 solid;
    border-right: 2px #436e54 solid;

    border-radius: 2px;

}

th {
    text-align: center;
    font-weight: 600;



}

tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.2);
}

html {

    scrollbar-color: #728175 #AFCBBA;


    scrollbar-width: thin;


}

.good {
    color: green;
    font-weight: bold;
}

.moderate {
    color: orange;
    font-weight: bold;
}

.unhealthy-for-sensitive-groups {
    color: rgb(189, 18, 18);
    font-weight: bold;
}

thead th {
    position: sticky;
    background-color: #4dab76;
    top: 0;
    z-index: 1;

}

select {
    background-color: #5fb081;
    border: 1px #31693c solid;
    border-radius: 5px;
    margin-top: 2px;
}