* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f3f4f6;
}

.container {
    display: flex;
    height: 100vh;

}

.sidebar {
    width: 240px;
    background: #AFCBBA;
    padding: 20px;
    border-radius: 0 20px 20px 0;

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.logo h2 {
    font-size: 22px;
    white-space: nowrap;
}

.logo-img {
    width: 45px;
}

.menu li {
    list-style: none;
    margin-bottom: 10px;
}

.menu li a {
    display: flex;
    gap: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 8px;
}

.menu li.active a {
    background: #5e8f65;
    color: white;
}

.main {
    flex: 1;
    padding: 20px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    width: 300px;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons i {
    background: white;
    padding: 8px;
    border-radius: 50%;
}

.avatar {
    width: 38px;
    height: 38px;
    background: #ccc;
    border-radius: 50%;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 600;
}

.email {
    font-size: 11px;
    color: gray;
}

.header {
    margin-bottom: 20px;
}

.header-left h1 {
    font-size: 22px;
}

.header-left p {
    color: gray;
    font-size: 14px;
}

.chart-box {
    background: #AFCBBA;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.chart-placeholder {
    height: 250px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    height: 20%;
}

.bottom-section {
    display: flex;
    gap: 150px;
}

.map-box {
    flex: 2;
    background: #AFCBBA;
    padding: 20px;
    border-radius: 12px;
    height: 330px;

}

.map-placeholder {
    height: 90%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;

}


.actions {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;

}

button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.green {
    background: #7ca982;
    color: white;
}

.light {
    background: #e5e7eb;
}

#pang_map {
    height: 100%;
    width: 80%;
    border-radius: 10px;
}