* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f3f4f6;
}

.container {
    display: flex;
    height: 100vh;
}


.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}



.main {
    flex: 1;
    padding: 20px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 30px;
}

.header-left h1 {
    font-size: 28px;
    margin-bottom: 5px;
}

.header-left p {
    color: gray;
    font-size: 14px;
}

.header-right {
    display: flex;
    gap: 10px;
}

.header-right button {
    border: none;
    width: 140px;
    padding: 10px 0;
    border-radius: 20px;
}





.cards {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    background: #AFCBBA;
    padding: 20px;
    border-radius: 12px;
}

.content {
    display: flex;
    gap: 20px;
}

.chart {
    flex: 3;
    height: 300px;
    background: #AFCBBA;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidepanel {
    flex: 1;
}

.contacts {
    background: #AFCBBA;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 15px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar-small {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #ccc;
}

.contact-item p {
    font-size: 13px;
    font-weight: 600;
}

.contact-item span {
    font-size: 11px;
    color: gray;
}

.sidepanel button {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}


.green {
    background: #7ca982;
    color: white;
}

.light {
    background: #e5e7eb;
}

.full {
    width: 100%;
    margin-bottom: 10px;
}